################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Direct.SMTP.Library/FileContentIndex/2d860bb4-48e7-4b06-aa3d-c5b858886899.vsidx
